[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "doebioresearch"]
	path = doebioresearch
	url = https://github.com/cran/doebioresearch
[submodule "variability"]
	path = variability
	url = https://github.com/cran/variability
